// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #00a82d;
	--color-3: #cada2a;
	--color-4: #252323;
}

.menuNavegacion {
	position: fixed;
	top: 0;
	right: 0;
	background: var(--color-2);
	box-shadow: 0 0 5px #00000099;
	width: 100vw;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
	z-index: 500;

	display: flex;
}

@media screen and (max-width: 500px) {
	.menuNavegacion {
		background: var(--color-2);
		width: min-content;
		height: min-content;
		border-bottom-left-radius: 5px;
		z-index: 500;

		flex-direction: column;
	}
}
