.opcion {
    color: var(--color-1);
	font-size: 1.5vw;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

@media screen and (max-width: 500px) {
	.opcion {
		font-size: 5vw;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
