// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #00a82d;
	--color-3: #cada2a;
	--color-4: #252323;
	--color-5: #98b2ec;
	--color-6: #b6cafc;
	--color-7: #662483;
}

.secciones {
	margin-top: 5vw;

    display: grid;
}
